<%= simple_form_for @post, url: @post.id ? admin_post_path(@post) : admin_posts_path, html: { class: 'col-md-11 col-md-offset-1 resource-form' }, role: 'form' do |f| %>

  <div class="form-group col-md-6">
  	<%= render partial: 'admin/shared/translatable_form', locals: { form: f, resource: @post } %>
  </div>

  <div class="form-group col-md-6">
  	<%= f.input :user_id, as: :hidden, input_html: { class: 'form-control', value: current_user.id } %>
  	<%= f.input :published, input_html: { class: 'form-control' } %>
  </div>

  <div class="col-md-12">
  	<%= f.button :submit, class: 'btn btn-default' %>
  </div>
<% end %>