<%= form_tag admin_users_path, method: :get, class: 'filter-form', role: 'form' do %>
	<div class="col-md-3">
		<%= label_tag :by_name, t(:name) %>
		<%= text_field_tag :by_name, params[:by_name], class: "form-control" %>
		<%= label_tag :by_email, User.human_attribute_name(:email) %>
		<%= text_field_tag :by_email, params[:by_email], class: "form-control" %>
	</div>
	<div class="col-md-3">
		<%= label_tag :by_roles, Role.model_name.human %>
		<%= select_tag :by_roles, options_for_select(Role.all.collect {|r| [r.name, r.id]}, params[:by_roles]), multiple: true, class: "form-control chosen-select roles" %>
	</div>
	<div class="col-md-12">
		<%= submit_tag t(:filter), class: 'btn btn-success filter-btn' %>
		<%= link_to(t(:refresh), admin_users_path, class: 'btn btn-info filter-btn') %>
	</div>
<% end %>