<head>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <title><%= @title %></title>
  <meta name="keywords" content="<%= Core.keywords %>" />
  <meta name="description" content="<%= Core.description %>" />
</head>